table, th, td, caption {
    border-collapse: collapse;
    border-spacing: 5px;
    border-color: #1d2124;
    padding: 5px;
    text-align: left;
    margin: auto;
}

* {
    font-family: Cincel-Regular, serif;
}

body {
    background-image: url(../images/what-the-hex.png);
}

@font-face {
    font-family: Cincel-Regular;
    src: url('../fonts/Cinzel/Cinzel-Regular.ttf');
format('truetype');
}

@font-face {
    font-family: Cincel-Bold;
    src: url('../fonts/Cinzel/Cinzel-Bold.ttf');
format('truetype');
}

@font-face {
    font-family: Cincel-Black;
    src: url('../fonts/Cinzel/Cinzel-Black.ttf');
format('truetype');
}

#field-select {
    width: auto;
}

#top {
    background: rgba(14, 4, 5, 0.61) url(../images/connectwork.png) fixed;
    box-shadow: 0 -4px 0 rgba(0, 0, 0, 0.1) inset;
    position: relative;
    text-align: center;
    height: 200px;
}

#top .wrapper {
    padding: 10px;
}

#top .wrapper h1 {
    font-size: 40px;
    color: #dbdbdb;
    text-shadow: 4px 4px 4px #000000;
    margin-top: 1em;
}

.btn {
    margin: 5px;
}

/*h1 {*/
    /*margin-top: 1em !important;*/
    /*margin-bottom: 2em !important;*/
    /*text-align: center;*/
/*}*/

.notification_bar {

    position: relative;
}

#alert{
    left:2%;
    width: 96%;
    display: none;
    z-index: 2;
}

.status {
    padding: 5px;
    margin: auto;
}

.playingfield {
    padding: 5px;
    margin: auto;
}

.game_status {
    padding: 5px;
    border-spacing: 5px;
}

.phase_idle {

}

.btn_start_game {

}

.choose_playingfield {

}

.country_info {

}

.game_info {

}

.move_plan {

}
