@(controller: de.htwg.se.empire.controller.GameController)
@phases = @{
    de.htwg.se.empire.util.Phase
}

@main("HTWG Empire") {
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/main.css")' />
    <section id="top">
        <div class="wrapper">
            <h1>HTWG Empire</h1>
        </div>
    </section>
    <p>Game Status: @controller.status</p>
    <div>
        @if(controller.status == phases.IDLE) {
            <div class="phase_idle">
                <div class="headline">
                    <div>Setup Phase</div>
                </div>
                <div class="choose_playingfield">
                    Select your Playingfield<br>
                    <select>
                        <option value="EmpireData.json">Classic Risk Board</option>
                    </select>
                </div>
                <div class="form_addPlayer">
                    <form>
                        Play with:<br>
                        <input type="text" name="playername"><br>
                    </form>
                </div>
                <div class="startGame">
                    <button class="btn_startGame">
                        Start Game
                    </button>
                </div>
            </div>
        }
        @if(controller.playerOnTurn != null) {
            <p>
                <table>
                    <caption>Game Info</caption>
                    <tr>
                        <th>Current Player</th>
                        <th>Number of countries</th>
                        <th>Number of soldiers</th>
                    </tr>
                    <tr>
                        <td>@controller.playerOnTurn.name</td>
                        <td>@controller.playerOnTurn.getCountryAmount</td>
                        <td>@controller.playerOnTurn.getNumberOfAllSoldiers</td>
                    </tr>
                </table>
            </p>
            @if(controller.status == phases.REINFORCEMENT) {

                <table>
                    <caption>
                        Distribute soldiers to:
                    </caption>
                    <tr>
                        <th>Country</th>
                        <th># of soldiers</th>
                    </tr>
                    @for(country <- controller.playerOnTurn.countries) {
                        <tr>
                            <td>@country.name</td>
                            <td>@country.soldiers</td>
                        </tr>
                    }
                </table>
                <p>Soldiers to distribute: @controller.playerOnTurn.handholdSoldiers</p>
            }
            @if(controller.status == phases.ATTACK) {
                <table>
                    <caption>Choose country to attack from:</caption>
                    <tr>
                        <th>Country</th>
                        <th># of soldiers</th>
                        @for(country <- controller.playerOnTurn.countries) {
                            <tr>
                                <td>@country.name</td>
                                <td>@country.soldiers</td>
                            </tr>
                        }
                    </tr>
                </table>
            }
        }
    </div>


}